<div class='container'>
  <div class='card-body'>
    <div class='form_style'>
      <h2>Add new product <i class="fas fa-user-plus"></i></h2>
      <hr>
        <%= simple_form_for @product do |f| %>
          <%= f.input :productid, label: "Product ID" %>
          <%= f.input :unit_price, as: :float, label:'Unit Price' %>
          <%= f.input :quantity, label:'Quantity' %>
          <%= f.input :discount, as: :float, label:'Discount', hint:'Enter an percentage!' %>
          <%= f.input :order_id, label:'Order ID' %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>

